.form-periodo {
    margin-bottom: 24px;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.periodos {
    width: 87%;
}
.periodos li {
    cursor: pointer;
    background-color: #EEE;
}
.periodos li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.periodos li:hover {
    color: #607D8B;
    background-color: #DDD;
}
.periodos .badge {
    background-color: #607D8B;
    float: none;
    margin-right: 1em;
}
